.clock_title {
	font-size: 2em;
}
#clock {
	width: 25%;
	background: #D5BB78;
}
.well {
	padding: 0px 0px 40px 0px;
}
.letters {
	display: inline;
	margin-right: 30px;
	font-size: 2em;
	margin-right: 3.5em;
	margin-left: 1.5em;
	padding: 1.5em;
	background: #FEF8B5;
}
#word {
	padding-bottom: 7.2em;
	padding-top: 7.2em;
	width: 80%;
	margin-left: 10%;
	background: #D5BB78;
}
body {
	background: #FFFF7F;
}
.player_name {
	font-size: 1.6em;
}
#score {
	font-size: 1.2em;
}
#word_def {
	display: inline-table;
	width: 25%; 
	background: #D5BB78;
}
#scoreboard {
	display: inline-table;
	width: 25%;
	float: right;
	background: #D5BB78; 
	height: 182px;
	padding: 0px;
}
#time {
	font-size: 3.5em;
	margin-left: 2em;
}